
.menu-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #fffaf0; 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  padding: 1rem;
}

.menu-image img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  background-color: #f0e6d2;
}

.menu-content {
  flex: 1;
}

.menu-content h1 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-family: fantasy;
  color: #000000; 
}

.menu-content p {
  margin: 0.2rem 0;
  color: #555;
  font-size: 1rem;
}

.menu-price {
  font-weight: bold;
  color:#5C1A1B; 
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.menu-tabs button {
  background-color: transparent;
  color: #000000; 
  border: 2px solid #5C1A1B;
  border-radius: 8px;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.menu-tabs button:hover {
  background-color: #5C1A1B;
  border-color: wheat;
  color: #fffaf0;
}

.menu-tabs button.active {
  background-color: #5C1A1B;
  border-color: wheat;
  color: #fffaf0;
  font-weight: bold;
}

@media (max-width: 991px) {
  .menu-table {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .menu-table {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 2rem 3rem;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .menu-item {
    flex-direction: row;
    align-items: flex-start;
  }

  .menu-image{
    width: 90px;
  }
  .menu-image img {
    width: 100px;
    height: 100px;
  }

  .menu-content h1 {
    font-size: 1.2rem;
  }

  .menu-price {
    font-size: 1rem;
  }
}

.menu-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  background-color: #5C1A1B;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.menu-title {
  font-size: 26px;
  font-weight: bold;
  margin: 0 auto;
  color: #fffaf0; 
  font-family: fantasy;
}

.menu-header .back-button {
  position: absolute;
  left: 20px;
  color: #f0e6d2; 
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
  transition: color 0.3s ease;
}

.menu-header .back-button:hover {
  color: #5C1A1B;
}
